body{ 
background-image: url('https://images.pexels.com/photos/128457/pexels-photo-128457.jpeg?h=350&auto=compress&cs=tinysrgb');
  background-repeat: no-repeat;
   background-size: contain;
   background-attachment: fixed;
   background-color: #FF280C;
  
   color: black;
}


#footer {
  color: #fff; 
}
#footer a:link{ color: #fff; }
#footer a:hover{ background: #fff; }
#footer a:visited{ color: #000; }
#footer a:active{ background: #EEFFA8; }

#daysBoxStyle{
  color: white;
  background-color: blue;
  margin: auto;
  width: 50%;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 1.2em
}